mat-form-field {
    width: 100%;
}

.form-pick-date input.mat-input-element {
    margin-top: -18px !important;
    transform: translateY(10px) !important;
}

.animated-background {
    margin-top: 25px;
}